*, html, body {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg,#1c2538 0,#131824 100%);
    overflow: hidden;
}

.flex-wrapper{
    scale: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .container{
        background-color: #3c444b;
        width: 480px;
        padding: 30px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon{
            height: 150px;
            border-radius: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        h1{
            font-size: 50px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        p{
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            text-align: center;
            color: #fff;
            background: linear-gradient(135deg,#1c2538 0,#131824 100%);
            width: 80%;
            padding: 10px 20px;
            border-radius: 3px;
            transition: 0.3s;
            &:hover{
                transition: 0.3s;
                background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(135deg,#1c2538 0,#131824 100%);
            }
        }
    }
}
