*, html, body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Hind Siliguri';
    font-style: Light;
    font-weight: 300;
    src: local('/fonts/HindSiliguri-Light.ttf'), url('/fonts/HindSiliguri-Light.ttf') format('truetype');
  }

body {
    background: linear-gradient(135deg,#1c2538 0,#131824 100%);
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .container{
        background-color: #252A33;
        width: 480px;
        padding: 30px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon{
            height: 150px;
            border-radius: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        h1{
            font-size: 50px;
            line-height: 30px;
            margin-bottom: 25px;
            color: #CCCCCD;
        }
        h2{
            font-size: 35px;
            line-height: 30px;
            margin-bottom: 25px;
            color: #CCCCCD;
        }
        p{
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 30px;
            color: #CCCCCD;
        }
        a{
            text-decoration: none;
            text-align: center;
            color: #CCCCCD;
            background-color: #353844;
            width: 80%;
            padding: 10px 20px;
            border-radius: 3px;
            transition: 0.3s;
            &:hover{
                transition: 0.3s;
                background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #353844;
            }
        }
    }
}
